In [ ]:
from google.colab import drive
import sys
import os
drive.mount("/content/gdrive")
#Specify path path of the directory
#path = "/content/gdrive/My Drive/Colab Notebooks/econ_indicator"
#sys.path.append(path)
os.chdir('/content/gdrive/My Drive/Colab Notebooks/econ_indicator')

Mounted at /content/gdrive

In [ ]:
# !pwd
!ls

predicted_sales.csv  sales_indicators.csv





*   change epochs, batch size;
*   adding 1/8 layer, change drop out rate
*  change x,y

In [ ]:
import pandas as pd
#tf.random.set_seed(42)
df = pd.read_csv('sales_indicators.csv',index_col=0)
dates = df.index

In [ ]:
#break time periods
#2010-2019 June
#2019 July-2019 Dec
df_2010_2019June=df.iloc[84:198,:]
df_2010_2019June

,RSAFS,RSFSXMV,RSHPCS,RSGASS,RSCCAS,RSSGHBMS,RSGMS,RSDSELD,RSMSR,RSNSR,RSFSDP,RSXFS,break_inflate10,cpi,employ_rate,indust_prod,mortgage_rate30,year,month
date,,,,,,,,,,,,,,,,,,,
2010-01-01,346043,289245,21187,37399,17351,6507,49844,15585,8363,27236,37700,308343,2.358421,0.341747,66.750593,89.1936,5.0300,2010,1
2010-02-01,346835,291032,21199,36950,17402,6412,50538,15507,8251,27249,38267,308568,2.272105,0.024921,66.709214,89.5089,4.9900,2010,2
2010-03-01,354360,293463,21363,37123,17908,6515,50095,15479,8705,27852,38376,315984,2.219130,0.410628,66.732157,90.1449,4.9675,2010,3
2010-04-01,357461,295638,21471,37218,17724,6409,50650,15744,8567,27767,38658,318803,2.345909,0.173688,66.868325,90.4740,5.0980,2010,4
2010-05-01,354255,292684,21399,36606,17656,6496,50023,15399,8632,27752,38695,315560,2.113000,0.077520,66.755470,91.7131,4.8875,2010,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-01,503037,402085,28875,41996,22194,6536,59106,11480,10415,59819,62162,440875,1.876842,0.422705,71.043682,102.8157,4.3700,2019,2
2019-03-01,509552,405980,28827,43001,22566,6558,59339,11347,10600,60006,62598,446954,1.912857,0.564136,71.078267,102.9000,4.2650,2019,3
2019-04-01,510367,408121,28719,43734,22515,6683,59893,11401,10837,59864,63137,447230,1.936667,0.529500,71.155136,102.3826,4.1425,2019,4
2019-05-01,512883,410006,28862,43625,22215,6717,59540,11408,10930,61676,63898,448985,1.826364,0.212876,71.153458,102.5756,4.0720,2019,5
2019-06-01,513694,410816,28805,42238,22167,6799,59459,11208,10986,62748,64702,448992,1.700000,0.019915,71.252237,102.5928,3.8025,2019,6

In [ ]:
df_2019July_Dec=df.iloc[198:204,:]
df_2019July_Dec

,RSAFS,RSFSXMV,RSHPCS,RSGASS,RSCCAS,RSSGHBMS,RSGMS,RSDSELD,RSMSR,RSNSR,RSFSDP,RSXFS,break_inflate10,cpi,employ_rate,indust_prod,mortgage_rate30,year,month
date,,,,,,,,,,,,,,,,,,,
2019-07-01,518670,415325,28665,42850,22569,6680,60437,11568,10845,63746,65003,453667,1.752727,0.167094,71.265935,102.2012,3.765,2019,7
2019-08-01,521158,415426,28580,42735,22615,6740,60074,11369,11045,63727,65191,455967,1.586364,-0.005067,71.435858,102.9086,3.616,2019,8
2019-09-01,517755,414270,28600,42589,22376,6698,59377,11042,10997,63995,65707,452048,1.587000,0.078345,71.722503,102.5790,3.605,2019,9
2019-10-01,519519,416179,28809,43254,22417,6742,59662,10969,11156,64346,66068,453451,1.560909,0.228619,71.687213,101.7775,3.688,2019,10
2019-11-01,521774,416055,28576,43246,22184,6532,60033,11109,11255,64466,65841,455933,1.640526,-0.053624,71.676521,102.0979,3.695,2019,11
2019-12-01,525903,422153,28267,44459,23230,6720,60632,10954,11096,66026,66980,458923,1.718095,-0.090977,71.688613,101.7632,3.720,2019,12

In [ ]:
df.head()

,RSAFS,RSFSXMV,RSHPCS,RSGASS,RSCCAS,RSSGHBMS,RSGMS,RSDSELD,RSMSR,RSNSR,RSFSDP,RSXFS,break_inflate10,cpi,employ_rate,indust_prod,mortgage_rate30,year,month
date,,,,,,,,,,,,,,,,,,,
2003-01-01,295248,225575,15441,23073,14565,5794,37740,17807,8565,16434,28018,267230,1.754286,0.442233,71.590301,91.2395,5.9160,2003,1
2003-02-01,291167,224632,15534,23885,14142,5576,38030,17670,8372,16933,27979,263188,1.912632,0.770501,71.520526,91.3384,5.8425,2003,2
2003-03-01,296325,227697,15677,23968,14465,5660,38391,17763,8405,16764,28505,267820,1.862857,0.600765,71.396225,91.0690,5.7450,2003,3
2003-04-01,295600,226020,15705,22581,14434,5709,38321,17687,8359,16593,28403,267197,1.774762,-0.217155,71.378556,90.4913,5.8125,2003,4
2003-05-01,296410,226750,15791,21810,14651,5748,38483,17838,8525,16722,29048,267362,1.660952,-0.163221,71.213061,90.4697,5.4840,2003,5

In [ ]:
row_num=df.shape[0]

In [ ]:
###############testing RSAFS
#Split targets and features
Y = df_2010_2019June.loc[:,'RSMSR'] 
X = df_2010_2019June.loc[:,['year','month','indust_prod']]
# X = df.loc[:,['year','month']]

In [ ]:
# Y
X

            year  month  indust_prod
date
2010-01-01  2010      1      89.1936
2010-02-01  2010      2      89.5089
2010-03-01  2010      3      90.1449
2010-04-01  2010      4      90.4740
2010-05-01  2010      5      91.7131
...          ...    ...          ...
2019-02-01  2019      2     102.8157
2019-03-01  2019      3     102.9000
2019-04-01  2019      4     102.3826
2019-05-01  2019      5     102.5756
2019-06-01  2019      6     102.5928

[114 rows x 3 columns]

In [ ]:
#!pip install sklearn.cross_validation

In [ ]:
from sklearn.model_selection import train_test_split
#Split train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, shuffle=True)

#Count features for modelization
X_num_columns= len(X.columns)

# Creating **NN**


*  **Activition function**: The activation function of a node defines the output of that node given an input or set of inputs.
*  We created a simple NN with $3$ dense layers of the model with row_num/3, row_num/6, 1 neuron respectly,  $1$ dropping layer with $p = 0.2$ to prevent overfitting
Google provides the use of free GPU for your Colab notebooks.
Powers of 2 are your friends when training NNs on GPUs (it's based on how the GPU is designed)

In [ ]:
import numpy as np
from tensorflow.keras import layers
from keras.models import Sequential
from keras.layers import Dense,Dropout,Activation,SimpleRNN 
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt


#todo: try different number of layers 
#todo: try different try different neurons in each layer 


#todo: try RNN
#todo: try Training multilayer perceptron with Backpropagation
#todoï¼šBackprop-free reinforcement learning?


general = True
RNN = False

#Sequential Model in keras: Single input and single output. 
if general == True:
  model = Sequential([
      Dense(row_num/3, activation='relu',input_dim = X_num_columns),
      Dense(row_num/6, activation='relu'),
      Dense(1,activation='linear'),
      # adding a dropout layer
      Dropout(0.2)
      ])
  model.compile(optimizer='adam', loss='mean_squared_error')
  model.summary()
  
'''
1. Recurrent Neural Network (RNN) are types of Neural Networks 
designed to use sequential data such as time-series.
2. In RNN neural network models, we use the sigmoid or tanh function for hidden layers.
#The tanh function has better performance.
'''

if RNN == True: 
  model = Sequential([
      SimpleRNN(units=1, activation='tanh'),
      Dense(units=1, activation='tanh'),
      Dense(1,activation='linear'),
      ])
  model.compile(optimizer='adam', loss='mean_squared_error')
  model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 77)                308

 dense_1 (Dense)             (None, 38)                2964

 dense_2 (Dense)             (None, 1)                 39

 dropout (Dropout)           (None, 1)                 0

=================================================================
Total params: 3,311
Trainable params: 3,311
Non-trainable params: 0
_________________________________________________________________

In [ ]:
#Fit model to training data
model.fit(X_train, y_train, epochs=64, batch_size=25)

print("Training completed")

Epoch 1/64
4/4 [==============================] - 3s 5ms/step - loss: 99471448.0000
Epoch 2/64
4/4 [==============================] - 0s 3ms/step - loss: 94481384.0000
Epoch 3/64
4/4 [==============================] - 0s 3ms/step - loss: 89726032.0000
Epoch 4/64
4/4 [==============================] - 0s 4ms/step - loss: 85286784.0000
Epoch 5/64
4/4 [==============================] - 0s 3ms/step - loss: 83059976.0000
Epoch 6/64
4/4 [==============================] - 0s 3ms/step - loss: 79341240.0000
Epoch 7/64
4/4 [==============================] - 0s 3ms/step - loss: 75669592.0000
Epoch 8/64
4/4 [==============================] - 0s 4ms/step - loss: 72888824.0000
Epoch 9/64
4/4 [==============================] - 0s 3ms/step - loss: 67873680.0000
Epoch 10/64
4/4 [==============================] - 0s 4ms/step - loss: 66675380.0000
Epoch 11/64
4/4 [==============================] - 0s 4ms/step - loss: 64539180.0000
Epoch 12/64
4/4 [==============================] - 0s 3ms/step - loss: 62198352.0000
Epoch 13/64
4/4 [==============================] - 0s 4ms/step - loss: 62092976.0000
Epoch 14/64
4/4 [==============================] - 0s 4ms/step - loss: 55996608.0000
Epoch 15/64
4/4 [==============================] - 0s 4ms/step - loss: 53880488.0000
Epoch 16/64
4/4 [==============================] - 0s 4ms/step - loss: 44752028.0000
Epoch 17/64
4/4 [==============================] - 0s 4ms/step - loss: 44208972.0000
Epoch 18/64
4/4 [==============================] - 0s 3ms/step - loss: 41018760.0000
Epoch 19/64
4/4 [==============================] - 0s 3ms/step - loss: 37488148.0000
Epoch 20/64
4/4 [==============================] - 0s 3ms/step - loss: 34512052.0000
Epoch 21/64
4/4 [==============================] - 0s 3ms/step - loss: 37000244.0000
Epoch 22/64
4/4 [==============================] - 0s 5ms/step - loss: 29566452.0000
Epoch 23/64
4/4 [==============================] - 0s 3ms/step - loss: 30446120.0000
Epoch 24/64
4/4 [==============================] - 0s 3ms/step - loss: 17672592.0000
Epoch 25/64
4/4 [==============================] - 0s 4ms/step - loss: 26667294.0000
Epoch 26/64
4/4 [==============================] - 0s 5ms/step - loss: 20882142.0000
Epoch 27/64
4/4 [==============================] - 0s 3ms/step - loss: 24815154.0000
Epoch 28/64
4/4 [==============================] - 0s 5ms/step - loss: 25654860.0000
Epoch 29/64
4/4 [==============================] - 0s 3ms/step - loss: 19146160.0000
Epoch 30/64
4/4 [==============================] - 0s 4ms/step - loss: 23276952.0000
Epoch 31/64
4/4 [==============================] - 0s 3ms/step - loss: 20566056.0000
Epoch 32/64
4/4 [==============================] - 0s 4ms/step - loss: 25018466.0000
Epoch 33/64
4/4 [==============================] - 0s 5ms/step - loss: 19986676.0000
Epoch 34/64
4/4 [==============================] - 0s 4ms/step - loss: 19461694.0000
Epoch 35/64
4/4 [==============================] - 0s 5ms/step - loss: 19566020.0000
Epoch 36/64
4/4 [==============================] - 0s 3ms/step - loss: 21845454.0000
Epoch 37/64
4/4 [==============================] - 0s 3ms/step - loss: 23228046.0000
Epoch 38/64
4/4 [==============================] - 0s 3ms/step - loss: 14172790.0000
Epoch 39/64
4/4 [==============================] - 0s 4ms/step - loss: 21266022.0000
Epoch 40/64
4/4 [==============================] - 0s 4ms/step - loss: 17923386.0000
Epoch 41/64
4/4 [==============================] - 0s 4ms/step - loss: 14917643.0000
Epoch 42/64
4/4 [==============================] - 0s 4ms/step - loss: 19108876.0000
Epoch 43/64
4/4 [==============================] - 0s 4ms/step - loss: 17200238.0000
Epoch 44/64
4/4 [==============================] - 0s 5ms/step - loss: 12456971.0000
Epoch 45/64
4/4 [==============================] - 0s 5ms/step - loss: 20348864.0000
Epoch 46/64
4/4 [==============================] - 0s 5ms/step - loss: 18899026.0000
Epoch 47/64
4/4 [==============================] - 0s 5ms/step - loss: 20269488.0000
Epoch 48/64
4/4 [==============================] - 0s 5ms/step - loss: 20929038.0000
Epoch 49/64
4/4 [==============================] - 0s 5ms/step - loss: 16901108.0000
Epoch 50/64
4/4 [==============================] - 0s 5ms/step - loss: 21251832.0000
Epoch 51/64
4/4 [==============================] - 0s 4ms/step - loss: 25468000.0000
Epoch 52/64
4/4 [==============================] - 0s 5ms/step - loss: 22891938.0000
Epoch 53/64
4/4 [==============================] - 0s 5ms/step - loss: 20120290.0000
Epoch 54/64
4/4 [==============================] - 0s 4ms/step - loss: 16913264.0000
Epoch 55/64
4/4 [==============================] - 0s 5ms/step - loss: 22115004.0000
Epoch 56/64
4/4 [==============================] - 0s 5ms/step - loss: 17840884.0000
Epoch 57/64
4/4 [==============================] - 0s 6ms/step - loss: 19192622.0000
Epoch 58/64
4/4 [==============================] - 0s 5ms/step - loss: 10946743.0000
Epoch 59/64
4/4 [==============================] - 0s 5ms/step - loss: 20410178.0000
Epoch 60/64
4/4 [==============================] - 0s 5ms/step - loss: 18902862.0000
Epoch 61/64
4/4 [==============================] - 0s 5ms/step - loss: 14786419.0000
Epoch 62/64
4/4 [==============================] - 0s 7ms/step - loss: 18824474.0000
Epoch 63/64
4/4 [==============================] - 0s 6ms/step - loss: 14452054.0000
Epoch 64/64
4/4 [==============================] - 0s 6ms/step - loss: 17040356.0000
Training completed

In [ ]:
# sum of squared errors over the sample size of 276

print(model.metrics_names)

loss = model.evaluate(X_test, y_test)

print(np.sqrt(loss))

['loss']
1/1 [==============================] - 0s 98ms/step - loss: 2853416.2500
1689.205804512878

In [ ]:
df['RSMSR'].std()

1444.5160208723044

In [ ]:
#loss-stdev of data/stdev of data
(df['RSMSR'].std()-np.sqrt(loss))/df['RSMSR'].std()

-0.16939222556549574

In [ ]:
#Predict known daily sales in order to check results

predictions = model.predict(X)

print(predictions)
#numpy array

[[7774.7485]
 [7776.9023]
 [7779.591 ]
 [7781.7666]
 [7785.455 ]
 [7787.4443]
 [7789.648 ]
 [7791.846 ]
 [7793.896 ]
 [7795.108 ]
 [7796.8438]
 [7799.964 ]
 [7785.4873]
 [7786.498 ]
 [7789.7446]
 [7790.835 ]
 [7792.691 ]
 [7794.7373]
 [7797.1606]
 [7799.8066]
 [7801.3506]
 [7804.0703]
 [7805.729 ]
 [7808.1387]
 [7794.9653]
 [7797.0923]
 [7797.8833]
 [7800.682 ]
 [7802.652 ]
 [7804.2603]
 [7806.279 ]
 [7807.2285]
 [7808.7393]
 [7810.904 ]
 [7813.195 ]
 [7815.237 ]
 [7801.072 ]
 [7803.5083]
 [7805.8286]
 [7807.2783]
 [7809.0566]
 [7810.9136]
 [7812.046 ]
 [7814.6333]
 [7817.1406]
 [7818.5835]
 [7820.6206]
 [7822.6   ]
 [7807.8247]
 [7810.7275]
 [7814.0024]
 [7815.739 ]
 [7818.05  ]
 [7820.2646]
 [7822.36  ]
 [7823.6714]
 [7825.825 ]
 [7827.4663]
 [7830.146 ]
 [7831.7603]
 [7816.2896]
 [7816.8545]
 [7817.909 ]
 [7818.5786]
 [7819.422 ]
 [7820.554 ]
 [7823.2773]
 [7824.527 ]
 [7825.7065]
 [7826.5796]
 [7826.934 ]
 [7827.6953]
 [7814.4565]
 [7815.2354]
 [7815.612 ]
 [7817.7383]
 [7818.993 ]
 [7821.4   ]
 [7823.297 ]
 [7824.7515]
 [7826.2144]
 [7827.985 ]
 [7828.9326]
 [7831.5693]
 [7817.132 ]
 [7818.2373]
 [7820.955 ]
 [7824.2163]
 [7825.988 ]
 [7827.9116]
 [7829.2554]
 [7830.1333]
 [7831.9233]
 [7835.6406]
 [7837.5806]
 [7839.4805]
 [7825.256 ]
 [7827.489 ]
 [7830.069 ]
 [7833.6177]
 [7833.6553]
 [7836.576 ]
 [7838.553 ]
 [7841.3823]
 [7842.9907]
 [7844.4243]
 [7845.9116]
 [7847.391 ]
 [7832.2417]
 [7833.121 ]
 [7834.893 ]
 [7835.6646]
 [7837.6167]
 [7839.277 ]]

In [ ]:
predictions_list = map(lambda x: x[0], predictions)
print(predictions_list)

<map object at 0x7f6450854d90>

In [ ]:
#predictions_series = pd.Series(predictions_list,index=dates)

#dates_series = pd.Series(dates)

#df_newDates=df_upcoming_dates

print("Upcoming dates imported")

Upcoming dates imported

In [ ]:
start = "2022-06-01"
end = "2023-06-01"
new_dates=pd.date_range(start, end, freq='MS')

In [ ]:
globals()

{'Activation': keras.layers.core.activation.Activation,
 'Dense': keras.layers.core.dense.Dense,
 'Dropout': keras.layers.core.dropout.Dropout,
 'In': ['',
  "import numpy as np\nfrom keras.models import Sequential\nfrom keras.layers import Dense\nfrom keras.layers import Dropout\nfrom keras.layers import Activation\nfrom sklearn.model_selection import train_test_split\nimport matplotlib.pyplot as plt\n\n\n#todo: try different number of layers \n#todo: try different try different neurons in each layer \n\n\n#todo: try RNN\n#todo: try Training multilayer perceptron with Backpropagation\n#todoï¼šBackprop-free reinforcement learning ï¼Ÿ\n#todo: try CNN, would Double Descent happen? \n#todo: try GNN\n\n\ngeneral == true\n#Sequential Model in keras: Single input and single output. \nif general == ture:\n  model = Sequential([\n      Dense(row_num/3, activation='relu',input_dim = X_num_columns),\n      Dense(row_num/6, activation='relu'),\n      Dense(1,activation='linear'),\n      # adding a dropout layer\n      Dropout(0.2)\n      ])\n  model.compile(optimizer='adam', loss='mean_squared_error')\n  model.summary()",
  "import numpy as np\nfrom keras.models import Sequential\nfrom keras.layers import Dense\nfrom keras.layers import Dropout\nfrom keras.layers import Activation\nfrom sklearn.model_selection import train_test_split\nimport matplotlib.pyplot as plt\n\n\n#todo: try different number of layers \n#todo: try different try different neurons in each layer \n\n\n#todo: try RNN\n#todo: try Training multilayer perceptron with Backpropagation\n#todoï¼šBackprop-free reinforcement learning ï¼Ÿ\n#todo: try CNN, would Double Descent happen? \n#todo: try GNN\n\n\ngeneral = True\n\n#Sequential Model in keras: Single input and single output. \nif general == True:\n  model = Sequential([\n      Dense(row_num/3, activation='relu',input_dim = X_num_columns),\n      Dense(row_num/6, activation='relu'),\n      Dense(1,activation='linear'),\n      # adding a dropout layer\n      Dropout(0.2)\n      ])\n  model.compile(optimizer='adam', loss='mean_squared_error')\n  model.summary()",
  'from google.colab import drive\nimport sys\nimport os\ndrive.mount("/content/gdrive")\n#Specify path path of the directory\n#path = "/content/gdrive/My Drive/Colab Notebooks/econ_indicator"\n#sys.path.append(path)\nos.chdir(\'/content/gdrive/My Drive/Colab Notebooks/econ_indicator\')',
  "# !pwd\nget_ipython().system('ls')",
  "import pandas as pd\n#tf.random.set_seed(42)\ndf = pd.read_csv('sales_indicators.csv',index_col=0)\ndates = df.index",
  '#break time periods\n#2010-2019 June\n#2019 July-2019 Dec\ndf_2010_2019June=df.iloc[84:198,:]\ndf_2010_2019June',
  'df_2019July_Dec=df.iloc[198:204,:]\ndf_2019July_Dec',
  'df.head()',
  'row_num=df.shape[0]',
  "###############testing RSAFS\n#Split targets and features\nY = df_2010_2019June.loc[:,'RSMSR'] \nX = df_2010_2019June.loc[:,['year','month','indust_prod']]\n# X = df.loc[:,['year','month']]",
  '# Y\nX',
  '#!pip install sklearn.cross_validation',
  'from sklearn.model_selection import train_test_split\n#Split train and test\nX_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, shuffle=True)\n\n#Count features for modelization\nX_num_columns= len(X.columns)',
  "import numpy as np\nfrom keras.models import Sequential\nfrom keras.layers import Dense\nfrom keras.layers import Dropout\nfrom keras.layers import Activation\nfrom sklearn.model_selection import train_test_split\nimport matplotlib.pyplot as plt\n\n\n#todo: try different number of layers \n#todo: try different try different neurons in each layer \n\n\n#todo: try RNN\n#todo: try Training multilayer perceptron with Backpropagation\n#todoï¼šBackprop-free reinforcement learning ï¼Ÿ\n#todo: try CNN, would Double Descent happen? \n#todo: try GNN\n\n\ngeneral = True\n\n#Sequential Model in keras: Single input and single output. \nif general == True:\n  model = Sequential([\n      Dense(row_num/3, activation='relu',input_dim = X_num_columns),\n      Dense(row_num/6, activation='relu'),\n      Dense(1,activation='linear'),\n      # adding a dropout layer\n      Dropout(0.2)\n      ])\n  model.compile(optimizer='adam', loss='mean_squared_error')\n  model.summary()",
  '#Fit model to training data\nmodel.fit(X_train, y_train, epochs=64, batch_size=25)\n\nprint("Training completed")',
  '# sum of squared errors over the sample size of 276\n\nprint(model.metrics_names)\n\nloss = model.evaluate(X_test, y_test)\n\nprint(np.sqrt(loss))',
  "df['RSMSR'].std()",
  "#loss-stdev of data/stdev of data\n(df['RSMSR'].std()-np.sqrt(loss))/df['RSMSR'].std()",
  '#Predict known daily sales in order to check results\n\npredictions = model.predict(X)\n\nprint(predictions)\n#numpy array',
  'predictions_list = map(lambda x: x[0], predictions)\nprint(predictions_list)',
  '#predictions_series = pd.Series(predictions_list,index=dates)\n\n#dates_series = pd.Series(dates)\n\n#df_newDates=df_upcoming_dates\n\nprint("Upcoming dates imported")',
  'start = "2022-06-01"\nend = "2023-06-01"\nnew_dates=pd.date_range(start, end, freq=\'MS\')',
  'globals()'],
 'Out': {6:              RSAFS  RSFSXMV  RSHPCS  RSGASS  RSCCAS  RSSGHBMS  RSGMS  RSDSELD  \
  date
  2010-01-01  346043   289245   21187   37399   17351      6507  49844    15585
  2010-02-01  346835   291032   21199   36950   17402      6412  50538    15507
  2010-03-01  354360   293463   21363   37123   17908      6515  50095    15479
  2010-04-01  357461   295638   21471   37218   17724      6409  50650    15744
  2010-05-01  354255   292684   21399   36606   17656      6496  50023    15399
  ...            ...      ...     ...     ...     ...       ...    ...      ...
  2019-02-01  503037   402085   28875   41996   22194      6536  59106    11480
  2019-03-01  509552   405980   28827   43001   22566      6558  59339    11347
  2019-04-01  510367   408121   28719   43734   22515      6683  59893    11401
  2019-05-01  512883   410006   28862   43625   22215      6717  59540    11408
  2019-06-01  513694   410816   28805   42238   22167      6799  59459    11208

              RSMSR  RSNSR  RSFSDP   RSXFS  break_inflate10       cpi  \
  date
  2010-01-01   8363  27236   37700  308343         2.358421  0.341747
  2010-02-01   8251  27249   38267  308568         2.272105  0.024921
  2010-03-01   8705  27852   38376  315984         2.219130  0.410628
  2010-04-01   8567  27767   38658  318803         2.345909  0.173688
  2010-05-01   8632  27752   38695  315560         2.113000  0.077520
  ...           ...    ...     ...     ...              ...       ...
  2019-02-01  10415  59819   62162  440875         1.876842  0.422705
  2019-03-01  10600  60006   62598  446954         1.912857  0.564136
  2019-04-01  10837  59864   63137  447230         1.936667  0.529500
  2019-05-01  10930  61676   63898  448985         1.826364  0.212876
  2019-06-01  10986  62748   64702  448992         1.700000  0.019915

              employ_rate  indust_prod  mortgage_rate30  year  month
  date
  2010-01-01    66.750593      89.1936           5.0300  2010      1
  2010-02-01    66.709214      89.5089           4.9900  2010      2
  2010-03-01    66.732157      90.1449           4.9675  2010      3
  2010-04-01    66.868325      90.4740           5.0980  2010      4
  2010-05-01    66.755470      91.7131           4.8875  2010      5
  ...                 ...          ...              ...   ...    ...
  2019-02-01    71.043682     102.8157           4.3700  2019      2
  2019-03-01    71.078267     102.9000           4.2650  2019      3
  2019-04-01    71.155136     102.3826           4.1425  2019      4
  2019-05-01    71.153458     102.5756           4.0720  2019      5
  2019-06-01    71.252237     102.5928           3.8025  2019      6

  [114 rows x 19 columns],
  7:              RSAFS  RSFSXMV  RSHPCS  RSGASS  RSCCAS  RSSGHBMS  RSGMS  RSDSELD  \
  date
  2019-07-01  518670   415325   28665   42850   22569      6680  60437    11568
  2019-08-01  521158   415426   28580   42735   22615      6740  60074    11369
  2019-09-01  517755   414270   28600   42589   22376      6698  59377    11042
  2019-10-01  519519   416179   28809   43254   22417      6742  59662    10969
  2019-11-01  521774   416055   28576   43246   22184      6532  60033    11109
  2019-12-01  525903   422153   28267   44459   23230      6720  60632    10954

              RSMSR  RSNSR  RSFSDP   RSXFS  break_inflate10       cpi  \
  date
  2019-07-01  10845  63746   65003  453667         1.752727  0.167094
  2019-08-01  11045  63727   65191  455967         1.586364 -0.005067
  2019-09-01  10997  63995   65707  452048         1.587000  0.078345
  2019-10-01  11156  64346   66068  453451         1.560909  0.228619
  2019-11-01  11255  64466   65841  455933         1.640526 -0.053624
  2019-12-01  11096  66026   66980  458923         1.718095 -0.090977

              employ_rate  indust_prod  mortgage_rate30  year  month
  date
  2019-07-01    71.265935     102.2012            3.765  2019      7
  2019-08-01    71.435858     102.9086            3.616  2019      8
  2019-09-01    71.722503     102.5790            3.605  2019      9
  2019-10-01    71.687213     101.7775            3.688  2019     10
  2019-11-01    71.676521     102.0979            3.695  2019     11
  2019-12-01    71.688613     101.7632            3.720  2019     12  ,
  8:              RSAFS  RSFSXMV  RSHPCS  RSGASS  RSCCAS  RSSGHBMS  RSGMS  RSDSELD  \
  date
  2003-01-01  295248   225575   15441   23073   14565      5794  37740    17807
  2003-02-01  291167   224632   15534   23885   14142      5576  38030    17670
  2003-03-01  296325   227697   15677   23968   14465      5660  38391    17763
  2003-04-01  295600   226020   15705   22581   14434      5709  38321    17687
  2003-05-01  296410   226750   15791   21810   14651      5748  38483    17838

              RSMSR  RSNSR  RSFSDP   RSXFS  break_inflate10       cpi  \
  date
  2003-01-01   8565  16434   28018  267230         1.754286  0.442233
  2003-02-01   8372  16933   27979  263188         1.912632  0.770501
  2003-03-01   8405  16764   28505  267820         1.862857  0.600765
  2003-04-01   8359  16593   28403  267197         1.774762 -0.217155
  2003-05-01   8525  16722   29048  267362         1.660952 -0.163221

              employ_rate  indust_prod  mortgage_rate30  year  month
  date
  2003-01-01    71.590301      91.2395           5.9160  2003      1
  2003-02-01    71.520526      91.3384           5.8425  2003      2
  2003-03-01    71.396225      91.0690           5.7450  2003      3
  2003-04-01    71.378556      90.4913           5.8125  2003      4
  2003-05-01    71.213061      90.4697           5.4840  2003      5  ,
  11:             year  month  indust_prod
  date
  2010-01-01  2010      1      89.1936
  2010-02-01  2010      2      89.5089
  2010-03-01  2010      3      90.1449
  2010-04-01  2010      4      90.4740
  2010-05-01  2010      5      91.7131
  ...          ...    ...          ...
  2019-02-01  2019      2     102.8157
  2019-03-01  2019      3     102.9000
  2019-04-01  2019      4     102.3826
  2019-05-01  2019      5     102.5756
  2019-06-01  2019      6     102.5928

  [114 rows x 3 columns],
  17: 1444.5160208723044,
  18: -0.16939222556549574},
 'Sequential': keras.engine.sequential.Sequential,
 'X':             year  month  indust_prod
 date
 2010-01-01  2010      1      89.1936
 2010-02-01  2010      2      89.5089
 2010-03-01  2010      3      90.1449
 2010-04-01  2010      4      90.4740
 2010-05-01  2010      5      91.7131
 ...          ...    ...          ...
 2019-02-01  2019      2     102.8157
 2019-03-01  2019      3     102.9000
 2019-04-01  2019      4     102.3826
 2019-05-01  2019      5     102.5756
 2019-06-01  2019      6     102.5928

 [114 rows x 3 columns],
 'X_num_columns': 3,
 'X_test':             year  month  indust_prod
 date
 2013-09-01  2013      9     100.0172
 2011-11-01  2011     11      95.7455
 2010-11-01  2010     11      92.6772
 2011-04-01  2011      4      93.6525
 2012-02-01  2012      2      97.1033
 2013-02-01  2013      2      98.6835
 2012-09-01  2012      9      97.2405
 2010-09-01  2010      9      92.8668
 2018-01-01  2018      1     101.3450
 2016-12-01  2016     12      98.9063
 2014-09-01  2014      9     102.9647
 2010-04-01  2010      4      90.4740
 2014-12-01  2014     12     103.5920
 2010-07-01  2010      7      92.2737
 2014-05-01  2014      5     102.2116
 2011-12-01  2011     12      96.2147
 2016-08-01  2016      8      98.7302
 2011-05-01  2011      5      93.7878
 2012-12-01  2012     12      98.2061
 2010-08-01  2010      8      92.6150
 2017-04-01  2017      4     100.0545
 2013-01-01  2013      1      98.1990
 2019-01-01  2019      1     103.2684,
 'X_train':             year  month  indust_prod
 date
 2019-04-01  2019      4     102.3826
 2015-06-01  2015      6     100.4529
 2012-01-01  2012      1      96.8051
 2017-01-01  2017      1      98.7349
 2010-01-01  2010      1      89.1936
 ...          ...    ...          ...
 2017-09-01  2017      9      99.7829
 2015-03-01  2015      3     101.8077
 2015-12-01  2015     12      98.8572
 2013-07-01  2013      7      98.9132
 2017-11-01  2017     11     101.2260

 [91 rows x 3 columns],
 'Y': date
 2010-01-01     8363
 2010-02-01     8251
 2010-03-01     8705
 2010-04-01     8567
 2010-05-01     8632
               ...
 2019-02-01    10415
 2019-03-01    10600
 2019-04-01    10837
 2019-05-01    10930
 2019-06-01    10986
 Name: RSMSR, Length: 114, dtype: int64,
 '_': -0.16939222556549574,
 '_11':             year  month  indust_prod
 date
 2010-01-01  2010      1      89.1936
 2010-02-01  2010      2      89.5089
 2010-03-01  2010      3      90.1449
 2010-04-01  2010      4      90.4740
 2010-05-01  2010      5      91.7131
 ...          ...    ...          ...
 2019-02-01  2019      2     102.8157
 2019-03-01  2019      3     102.9000
 2019-04-01  2019      4     102.3826
 2019-05-01  2019      5     102.5756
 2019-06-01  2019      6     102.5928

 [114 rows x 3 columns],
 '_17': 1444.5160208723044,
 '_18': -0.16939222556549574,
 '_6':              RSAFS  RSFSXMV  RSHPCS  RSGASS  RSCCAS  RSSGHBMS  RSGMS  RSDSELD  \
 date
 2010-01-01  346043   289245   21187   37399   17351      6507  49844    15585
 2010-02-01  346835   291032   21199   36950   17402      6412  50538    15507
 2010-03-01  354360   293463   21363   37123   17908      6515  50095    15479
 2010-04-01  357461   295638   21471   37218   17724      6409  50650    15744
 2010-05-01  354255   292684   21399   36606   17656      6496  50023    15399
 ...            ...      ...     ...     ...     ...       ...    ...      ...
 2019-02-01  503037   402085   28875   41996   22194      6536  59106    11480
 2019-03-01  509552   405980   28827   43001   22566      6558  59339    11347
 2019-04-01  510367   408121   28719   43734   22515      6683  59893    11401
 2019-05-01  512883   410006   28862   43625   22215      6717  59540    11408
 2019-06-01  513694   410816   28805   42238   22167      6799  59459    11208

             RSMSR  RSNSR  RSFSDP   RSXFS  break_inflate10       cpi  \
 date
 2010-01-01   8363  27236   37700  308343         2.358421  0.341747
 2010-02-01   8251  27249   38267  308568         2.272105  0.024921
 2010-03-01   8705  27852   38376  315984         2.219130  0.410628
 2010-04-01   8567  27767   38658  318803         2.345909  0.173688
 2010-05-01   8632  27752   38695  315560         2.113000  0.077520
 ...           ...    ...     ...     ...              ...       ...
 2019-02-01  10415  59819   62162  440875         1.876842  0.422705
 2019-03-01  10600  60006   62598  446954         1.912857  0.564136
 2019-04-01  10837  59864   63137  447230         1.936667  0.529500
 2019-05-01  10930  61676   63898  448985         1.826364  0.212876
 2019-06-01  10986  62748   64702  448992         1.700000  0.019915

             employ_rate  indust_prod  mortgage_rate30  year  month
 date
 2010-01-01    66.750593      89.1936           5.0300  2010      1
 2010-02-01    66.709214      89.5089           4.9900  2010      2
 2010-03-01    66.732157      90.1449           4.9675  2010      3
 2010-04-01    66.868325      90.4740           5.0980  2010      4
 2010-05-01    66.755470      91.7131           4.8875  2010      5
 ...                 ...          ...              ...   ...    ...
 2019-02-01    71.043682     102.8157           4.3700  2019      2
 2019-03-01    71.078267     102.9000           4.2650  2019      3
 2019-04-01    71.155136     102.3826           4.1425  2019      4
 2019-05-01    71.153458     102.5756           4.0720  2019      5
 2019-06-01    71.252237     102.5928           3.8025  2019      6

 [114 rows x 19 columns],
 '_7':              RSAFS  RSFSXMV  RSHPCS  RSGASS  RSCCAS  RSSGHBMS  RSGMS  RSDSELD  \
 date
 2019-07-01  518670   415325   28665   42850   22569      6680  60437    11568
 2019-08-01  521158   415426   28580   42735   22615      6740  60074    11369
 2019-09-01  517755   414270   28600   42589   22376      6698  59377    11042
 2019-10-01  519519   416179   28809   43254   22417      6742  59662    10969
 2019-11-01  521774   416055   28576   43246   22184      6532  60033    11109
 2019-12-01  525903   422153   28267   44459   23230      6720  60632    10954

             RSMSR  RSNSR  RSFSDP   RSXFS  break_inflate10       cpi  \
 date
 2019-07-01  10845  63746   65003  453667         1.752727  0.167094
 2019-08-01  11045  63727   65191  455967         1.586364 -0.005067
 2019-09-01  10997  63995   65707  452048         1.587000  0.078345
 2019-10-01  11156  64346   66068  453451         1.560909  0.228619
 2019-11-01  11255  64466   65841  455933         1.640526 -0.053624
 2019-12-01  11096  66026   66980  458923         1.718095 -0.090977

             employ_rate  indust_prod  mortgage_rate30  year  month
 date
 2019-07-01    71.265935     102.2012            3.765  2019      7
 2019-08-01    71.435858     102.9086            3.616  2019      8
 2019-09-01    71.722503     102.5790            3.605  2019      9
 2019-10-01    71.687213     101.7775            3.688  2019     10
 2019-11-01    71.676521     102.0979            3.695  2019     11
 2019-12-01    71.688613     101.7632            3.720  2019     12  ,
 '_8':              RSAFS  RSFSXMV  RSHPCS  RSGASS  RSCCAS  RSSGHBMS  RSGMS  RSDSELD  \
 date
 2003-01-01  295248   225575   15441   23073   14565      5794  37740    17807
 2003-02-01  291167   224632   15534   23885   14142      5576  38030    17670
 2003-03-01  296325   227697   15677   23968   14465      5660  38391    17763
 2003-04-01  295600   226020   15705   22581   14434      5709  38321    17687
 2003-05-01  296410   226750   15791   21810   14651      5748  38483    17838

             RSMSR  RSNSR  RSFSDP   RSXFS  break_inflate10       cpi  \
 date
 2003-01-01   8565  16434   28018  267230         1.754286  0.442233
 2003-02-01   8372  16933   27979  263188         1.912632  0.770501
 2003-03-01   8405  16764   28505  267820         1.862857  0.600765
 2003-04-01   8359  16593   28403  267197         1.774762 -0.217155
 2003-05-01   8525  16722   29048  267362         1.660952 -0.163221

             employ_rate  indust_prod  mortgage_rate30  year  month
 date
 2003-01-01    71.590301      91.2395           5.9160  2003      1
 2003-02-01    71.520526      91.3384           5.8425  2003      2
 2003-03-01    71.396225      91.0690           5.7450  2003      3
 2003-04-01    71.378556      90.4913           5.8125  2003      4
 2003-05-01    71.213061      90.4697           5.4840  2003      5  ,
 '__': 1444.5160208723044,
 '___':             year  month  indust_prod
 date
 2010-01-01  2010      1      89.1936
 2010-02-01  2010      2      89.5089
 2010-03-01  2010      3      90.1449
 2010-04-01  2010      4      90.4740
 2010-05-01  2010      5      91.7131
 ...          ...    ...          ...